*{
    box-sizing: border-box;
}

label{
    display: inline-block;
    width:200px;
}
fieldset {
    width:400px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
}
p{
    margin: 10px 0 0 0;
}

#preview{
    width:100px;
}
.reset{
    margin-top: 20px;
    width:80px;
    height: 40px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

